.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-align: center;
  font-family: 'Poppins'
}

.image {
  width: 240px;
  height: 240px;
  margin-bottom: 16px;
}

.name {
  font-weight: 700;
  font-size: 1.3rem;
}

.subjects {
  font-weight: 600;
  font-size: 1.1rem;
}

.location {
  font-size: 1rem;
  font-style: italic;
}