@import url('https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap');
@font-face {
  font-family: 'TAN-Jambore';
  src: url('../../assets/fonts/TAN-Jambore.eot'); /* IE9 Compat Modes */
  src: url('../../assets/fonts/TAN-Jambore.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/fonts/TAN-Jambore.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/TAN-Jambore.ttf') format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.header {
  font-family: 'TAN-Jambore';
  height: 90px;
  box-sizing: border-box;
  padding: 0px 30px;
}

.auth-navlink {
  box-sizing: border-box;
  color: black;
  padding: 8px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Poppins';
}

.auth-navlink:hover {
  color: black;
  font-weight: 700;
  border-bottom: 3px solid var(--apricot);
}

.portal-title {
  margin-bottom: 0;
  font-weight: 600;
  display: inline-block;
  font-family: 'Poppins';
}

.nav-toggle {
  color: black;
}

.nav-link {
  color: black;
  font-family: 'Poppins';
  width: 210px;
  padding: 8px 0px;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
  font-weight: 600;
  border-bottom: 3px solid var(--apricot) !important;
}

.sign-out-button {
  padding: 10px 24px;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 2px solid black;
  font-family: 'Poppins';
  font-weight: 600;
}

.sign-out-button:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.sign-out-button:focus {
  background-color: white;
  box-shadow: none;
  color: black;
  border: 2px solid black;
}

@media screen and (max-width: 640px) {
  .portal-title {
    display: none;
  }
}