.form {
  width: 85%;
  margin: 35px auto 18px auto;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 10px;
  margin-top: 18px;
}

.upload-button {
  padding: 10px 24px;
  border-radius: 50px;
  border: none;
}

.upload-button {
  font-weight: 600;
  background-color: white;
  color: var(--dark-green);
  border: 2px solid var(--dark-green);
}

.upload-button:hover {
  background-color: var(--dark-green);
  border: 2px solid var(--dark-green);
}

.upload-button:focus {
  box-shadow: none;
  background-color: white;
  color: var(--dark-green);
  border: 2px solid var(--dark-green);
}

.input {
  border-radius: 0;
  border: 2px solid black;
}

.input:focus {
  box-shadow: none;
  border: 2px solid black;
}