.container {
  position: absolute;
  display: flex;
  height: 170px;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 16px 10px 10px 10px;
  border: 2px solid black;
}

.input {
  border-radius: 0;
  border: 2px solid black;
  padding: 6px 15px;
}

.input:focus {
  box-shadow: none;
  border: 2px solid black;
}

.input::placeholder {
  font-weight: 600;
  font-size: 0.8rem;
}

.radius-display {
  text-align: center;
}