.container {
  margin-top: 100px;
  font-family: 'Poppins';
}

.form {
  width: 450px;
  margin: 30px auto;
  text-align: left;
}

.input {
  border-radius: 0;
  border: 2px solid black;
}

.input:focus {
  box-shadow: none;
  border: 2px solid black;
}

.title {
  text-align: center;
  width: 300px;
  font-weight: 600;
  margin: 0 auto;
  padding: 12px;
  border-bottom: 3px solid var(--apricot);
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button {
  padding: 10px 24px;
  border-radius: 50px;
  background-color: var(--dark-green);
  border: none;
}

.button:hover {
  background-color: var(--dark-yellow);
}

.button:focus {
  background-color: var(--dark-green);
  box-shadow: none;
}

.step-display {
  color: gray;
  font-size: 0.8rem;
}