.container {
  display: flex;
  justify-content: center;
}

.link-container {
  height: 26px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.popup-button {
  padding: 0px 8px;
}