.container {
  font-family: 'Poppins';
}

.title, .subtitle {
  text-align: center;
}

.title {
  margin: 100px 0;
}

.subtitle {
  margin: 40px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.button {
  padding: 14px 40px;
  font-weight: 600;
  border-radius: 50px;
  background-color: black;
  font-size: 1.2rem;
  border: none;
}

.button:hover {
  background-color: var(--dark-yellow);
}

.button:focus {
  background-color: black;
  box-shadow: none;
}


