.title {
  text-align: center;
  margin-top: 40px;
}

.empty-subtitle {
  text-align: center;
  margin-top: 60px;
}

.first-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.first-button, .upload-button {
  padding: 10px 40px;
  border-radius: 50px;
  background-color: var(--dark-green);
  font-size: 1.2rem;
  border: 2px solid var(--dark-green);
}

.first-button:hover, .upload-button:hover {
  background-color: var(--dark-yellow);
  border: 2px solid var(--dark-yellow);
}

.first-button:focus, .upload-button:focus {
  box-shadow: none;
  background-color: var(--dark-green);
  border: 2px solid var(--dark-green);
}

.first-button:active {
  box-shadow: none;
}

.upload-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.body {
  width: 100%;
  margin-top: 40px;
}