.profile-container {
  position: relative;
  margin-top: 40px;
  font-family: 'Poppins';
}

.edit-button, .edit-button:focus {
  position: absolute;
  right: 120px;
  top: 40px;
  background: white;
  border: 2px solid black;
  color: black;
}

.edit-button:hover {
  background: black;
  color: white;
  border: 2px solid black;
}

.image-container {
  position: relative;
}

.image-edit-button {
  position: absolute;
  top: 129px;
  left: 129px;
  padding: 12px 16px;
  background-color: white;
  border: 2px solid black;
  color: black;
}

.image-edit-button:focus {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.image-edit-button:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}

.info-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: 50px;
  margin-bottom: 80px;
}

.name {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}

.location {
  margin-bottom: 20px;
}

.details-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subjects-container {
  margin-top: 40px;
}

.input {
  border-radius: 0;
  border: 2px solid black;
}

@media screen and (max-width: 900px) {
  .info-container {
    flex-direction: column;
  }

  .button-container {
    bottom: -60px
  }

  .page-container {
    padding: 0;
  }

  .details-container {
    padding: 0 60px;
    margin-top: 80px;
  }
}