.container {
  margin-top: 100px;
}

.form {
  width: 450px;
  margin: 30px auto;
  text-align: left;
  font-family: 'Poppins';
}

.title {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.7rem;
}

.next-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.next-button {
  padding: 10px 24px;
  border-radius: 50px;
  background-color: var(--dark-green);
  border: none;
  font-weight: 600;
}

.next-button:hover {
  background-color: var(--dark-yellow);
}

.next-button:focus {
  background-color: var(--dark-green);
  box-shadow: none;
}

.next-button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-button {
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: var(--dark-green);
  background-color: white;
  border: 2px solid var(--dark-green);
  margin-top: 16px;
}

.add-button:hover {
  background-color: white;
  border: 2px solid var(--dark-yellow);
  color: var(--dark-yellow);
}

.add-button:focus {
  color: var(--dark-green);
  background-color: white;
  border: 2px solid var(--dark-green);
  box-shadow: none;
}

.step-display {
  color: gray;
  font-size: 0.8rem;
}