.form {
  width: 400px;
  margin: 30px auto;
  text-align: left;
}

.input {
  border-radius: 0;
  border: 2px solid black;
}

.input:focus {
  box-shadow: none;
  border: 2px solid black;
}

.title {
  text-align: center;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 24px;
  border-radius: 50px;
  background-color: var(--dark-green);
  border: none;
}

.button:hover {
  background-color: var(--dark-yellow);
}

.button:focus {
  background-color: var(--dark-green);
  box-shadow: none;
}