.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  margin-top: 90px;
  border-bottom: 2px solid black;
  text-align: center;
  font-family: 'Poppins';
  padding: 6px 20px;
}

.image-container {
  width: 300px;
  height: 300px;
  position: relative;
}

.name-container {
  position: relative;
  width: 400px;
}

.name {
  margin-top: 10px;
  font-family: 'Poppins';
  text-align: center;
}

.edit-name-button, .edit-name-button:focus {
  position: absolute;
  right: 16px;
  top: 6px;
  padding: 3px 6px;
  background-color: white;
  border: 2px solid black;
  color: black
}

.edit-name-button:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}

.edit-image-button {
  position: absolute;
  top: 129px;
  left: 127px;
  padding: 12px 16px;
  background-color: white;
  border: 2px solid black;
  color: black;
}

.edit-image-button:focus {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.edit-image-button:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}

.label {
  font-family: 'Poppins';
  font-weight: 600;
}

.input {
  border-radius: 0;
  border: 2px solid black;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.save-button, .save-button:focus {
  font-family: 'Poppins';
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 50px;
  border: 2px solid var(--dark-green);
  background-color: white;
  color: var(--dark-green);
}

.save-button:hover {
  background-color: var(--dark-green);
  color: white;
  border: 2px solid var(--dark-green);
}

